<footer id="main-footer">
  <ul>
    <li>
      <p>Our Mission: Validating learning beyond the traditional academic canon. Providing the framework for members of the Oberlin community to share their passions. Bringing opportunities to learn to as many people as possible.</p>
    </li>
    <li>
      <p>Our Office is located in Wilder Hall, Room 302</p>
    </li>
    <li>
      <p>Our website is open source. Check out the source code on <a href="https://github.com/OberlinExCo/OberlinExCo.github.io/">GitHub</a>!</p>
    </li>
  </ul>
</footer>
