<table id="committee">
  <tr>
    <th> <img src="/img/veronica.jpg" alt="Picture of Veronica"> </th>
    <th> Veronica Mahoney (she/her/hers) <br>
      vmahoney@oberlin.edu<br>
      <p class="has-small-font-size">Veronica is a fourth-year Geology major and Environmental Studies minor. She has been on the ExCo committee since 2019 and this will be her third and final semester as chair. Catch her painting, making pottery, biking, and getting a bit too excited about scuba diving.</p>
      <p class="has-small-font-size"> Bakes with cocoa powder.</p>
    </th>
  </tr>
  <tr>
    <th> <img src="/img/kate.jpg" alt="Picture of Kate"> </th>
    <th> Kate Luke (she/her/hers) <br>
      kluke@oberlin.edu<br>
      <p class="has-small-font-size">Kate is a third-year interested in studying Creative Writing, Cinema, and English. When not working on her ExCo duties, she can be found in Warner for something theatre-related, rereading the Percy Jackson books, writing sappy poetry, or talking about literary archetypes.</p>
      <p class="has-small-font-size"> Cries when watching Coco, the movie.</p>
    </th>
  </tr>
   <tr>
    <th> <img src="/img/owen.jpg" alt="Picture of Owen"> </th>
    <th> Owen Pazderak (he/him/his)<br>
      opazdera@oberlin.edu<br>
      <p class="has-small-font-size">Owen is a third-year Comparative American Studies major with a concentration in Histories and Practices of Social Change. It’s his third semester on the committee, and when he’s not helping out with ExCo, you might see him running the trails in the Arb, getting excited about the next Marvel project, or procrastinating on submitting his ExCo Committee bio.</p>
      <p class="has-small-font-size"> Does not understand this cocoa thing.</p>
    </th>
  </tr>
   <tr>
   <th> <img src="/img/david.jpg" alt="Picture of David"> </th>
    <th> David Gudjonsson (he/they)<br>
      dgudjons@oberlin.edu<br>
      <p class="has-small-font-size">David is a third-year Classics and Philosophy major, with a minor in Latin and Law & Society. In addition to the committee, he works as a student representative for the Classics department. When not working you can find him playing the trombone, running, or hiking.</p>
      <p class="has-small-font-size"> Moisturizes with cocoa butter.</p>
     </th>
  </tr>
   <tr>
   <th> <img src="/img/Sadie.jpg" alt="Picture of Sadie"> </th>
    <th>Sadie Wilson-Voss (she/her)<br>
      swilsonv@oberlin.edu<br>
      <p class="has-small-font-size"> Sadie is a second year student majoring in Philosophy, Law and Society, and Creative Writing. Aside from the ExCo, her interests include writing, reading, talking, thinking, feeling, reminiscing, and the pursuit of happiness. Feel free to contact her with questions related to the program, or schedule an office hours appointment. </p>
      <p class="has-small-font-size"> Eats raw coco(a).</p>
    </th>
  </tr>
   <tr>
   <th> <img src="/img/olivia.jpg" alt="Picture of Olivia"> </th>
    <th> Olivia Wohlgemuth (she/her)<br>
      eowohlgem@oberlin.edu<br>
      <p class="has-small-font-size"> Olivia is a first-year student who is very undecided about what she wants to do with her major or her life, though she greatly enjoys theater, education, and poetry. Her hobbies include embroidery and dancing in her room or through Tappan to 2000s throwbacks. </p>
      <p class="has-small-font-size"> Moisturizes with cocoa butter.</p>
</table>
