<table id="committee">
  <tr>
    <th> <img src="/img/serena.jpg" alt="Picture of Serena"> </th>
    <th> Serena Zets (she/her/hers)
      szets@oberlin.edu
      <p class="has-small-font-size">Serena is a third-year student interested in Politics, Sociology, and Comparative American Studies. When she’s not doing ExCo Committee duties, she can be found taking pictures of Oberlin’s sunsets or shopping for even more laptop stickers.</p>
      <p class="has-small-font-size"> Not a brass player.</p>
    </th>
  </tr>
  <tr>
    <th> <img src="/img/veronica.jpg" alt="Picture of Veronica"> </th>
    <th> Veronica Mahoney (she/her/hers) <br>
      vmahoney@oberlin.edu<br>
      <p class="has-small-font-size">Veronica is a third-year Geology and Environmental Studies Double Major with an interest in Creative Writing. Catch her painting, biking, and getting a bit too excited about scuba diving.</p>
      <p class="has-small-font-size"> Not a brass player.</p>
    </th>
  </tr>
  <tr>
    <th> <img src="/img/kate.jpg" alt="Picture of Kate"> </th>
    <th> Kate Luke (she/her/hers) <br>
      kluke@oberlin.edu<br>
      <p class="has-small-font-size">Kate is a second-year interested in studying Creative Writing, Cinema, and English. When not working on her ExCo duties, she can be found in Warner for something theatre-related, rereading the Percy Jackson books, writing sappy poetry, or talking about literary archetypes.</p>
      <p class="has-small-font-size"> Not a brass player.</p>
    </th>
  </tr>
    <tr>
    <th> <img src="/img/karen.jpg" alt="Picture of Karen"> </th>
    <th> Karen Zepeda (she/they) <br>
      kzapeda@oberlin.edu<br>
      <p class="has-small-font-size">Karen is a second-year interested in studying Biology, Sociology, and Chemistry. Outside of the ExCo Committee, they can be found longboarding around campus, playing Nintendo games on their Switch, listening to music, or drawing in their bullet journal.</p>
      <p class="has-small-font-size"> Not a brass player.</p>
    </th>
  </tr>
  </tr>
    <tr>
    <th> <img src="/img/owen.jpg" alt="Picture of Owen"> </th>
    <th> Owen Pazderak (he/him/his)<br>
      opazdera@oberlin.edu<br>
      <p class="has-small-font-size">Owen is definitely a human person and will someday submit his bio for the ExCo website.</p>
      <p class="has-small-font-size"> Not a brass player.</p>
    </th>
  </tr>
</table>
