<table id="committee">
  <tr>
    <th> <img src="/assets/img/lars.jpg" alt="Picture of Lars"> </th>
    <th>
      Lars Gallegos-Dreith (he/him/his) <br>
      ldreith@oberlin.edu<br>
      <p>Coloradan, math major, pursuer of many things. Catch him repeatedly making futile attempts to explain technical computer things to his friends.</p>
      <p>Aspiring brass player.</p>
    </th>
  </tr>
  <tr>
    <th> <img src="/assets/img/emily.jpg" alt="Picture of Emily"> </th>
    <th> Emily Spezia-Shwiff (she/her/hers) <br>
      espezias@oberlin.edu<br>
      <p class="has-small-font-size">Emily is a  third-year Musical Studies and History major. When she is not  responding to ExCo emails, you will find her with the Oberlin College  Marching Band, in the Con Library, practicing piano, or talking about  Percy Jackson.</p>
      <p class="has-small-font-size">Brass player.</p>
    </th>
  </tr>
  <tr>
    <th> <img src="/assets/img/marah.jpg" alt="Picture of Marah"> </th>
    <th> Marah Ajilat (she/her/hers) <br>
      majilat@oberlin.edu <br>
      <p class="has-small-font-size">Hi there! My name is Marah, and I third-year politics major from
Jordan. This is my third semester on the committee so I am super excited
 to work alongside my fellow committee members to make ExCo bigger and
better!&nbsp;<br></p>
      <p>Not a brass player.</p>
    </th>
  </tr>
  <tr>
    <th> <img src="/assets/img/serena.jpg" alt="Picture of Serena"> </th>
    <th> Serena Zets (she/her/hers)
      szets@oberlin.edu
      <p class="has-small-font-size">Serena is a second-year student interested in Politics, Sociology, and Comparative American Studies. When she’s not doing ExCo Committee duties, she can be found taking pictures of Oberlin’s sunsets or shopping for even more laptop stickers.</p>
      <p class="has-small-font-size"> Not a brass player.</p>
    </th>
  </tr>
  <tr>
    <th> <img src="/assets/img/alex.jpg" alt="Picture of Alex"> </th>
    <th>
      Alex Jensen (he/him/his) <br>
      ajensen@oberlin.edu<.br>
      <p>Alex is a third-year student majoring in Mathematics and Computer Science.</p>
      <p>Brass player.</p>
    </th>
  </tr>
  <tr>
    <th> <img src="/assets/img/veronica.jpg" alt="Picture of Veronica"> </th>
    <th> Veronica Mahoney (she/her/hers) <br>
      vmahoney@oberlin.edu<br>
      <p class="has-small-font-size">Veronica is a second year intended Geology and Environmental Studies Double Major with an interest in Creative Writing. Catch her painting, skiing, and getting a bit too excited about scuba diving.</p>
      <p class="has-small-font-size"> Not a brass player.</p>
    </th>
  </tr>
</table>
