<div class="primary-navigation">
  <ul>
      <li class="active"><a href="./">Home</a></li>
      <li><a href="./apply">Apply to Teach</a></li>
      <li><a href="./committee">The ExCo Committee</a></li>
      <li><a href="#">Resources</a>
          <ul class="dropdown">
              <li><a href=".resources/about">About ExCo</a></li>
              <li><a href=".resources/instructors">For Current Instructors</a></li>
              <li><a href=".resources/history">ExCo History</a></li>
          </ul>
      </li>
      <li>{% include social_links.html %}</li>
  </ul>
</div>
