<div class="primary-navigation">
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Apply to Teach</a>
        <ul class="dropdown">
          <li><a href="/apply/apply">Applying</a></li>
          <li><a href="/apply/syllabi">Example Syllabi</a></li>
        </ul>
      </li>
      <li><a href="/catalog">Course Catalog</a></li>
      <li><a href="/rsvp">ExCo Fair Registration</a></li>
      <li><a href="#">Resources</a>
          <ul class="dropdown">
              <li><a href="/resources/instructors">For Current Instructors</a></li>
              <li><a href="/resources/plan">Academic Year Plan</a></li>
              <li><a href="/resources/oldcourses">Previous Course Offerings</a></li>
              <li><a href="/resources/readmore">Read More</a></li>
          </ul>
      </li>
      <li><a href="#">About</a>
          <ul class="dropdown">
              <li><a href="/about/about">About ExCo</a></li>
              <li><a href="/about/committee">The ExCo Committee</a></li>
              <li><a href="/about/history">ExCo History</a></li>
          </ul>
      </li>
      <li>{% include social_links.html %}</li>
  </ul>
</div>
