<table id="old committee">
    <th> Emily Spezia-Shwiff <br>
      <p class="has-small-font-size">Emily (she/her/hers) is a Emily is a Musical Studies and History major and GSFS minor from Oregon who graduated in Spring 2021. Emily served as the chair of the ExCo Committee and helped preserve institutional memory and revamp instructor assignments.Outside of ExCo she loved spending time with the Oberlin College Marching Band, in the Con Library, practicing piano, or talking about Percy Jackson.(brass player)</p>
    </th>
  </tr>
  <tr>
    </th>
  </tr>
  <tr>
  <tr>
    <th> Marah <br>
      <p class="has-small-font-size">Marah (she/her/hers) is a politics major from Jordan who graduated in Spring 2021. She served as treasurer for the committee and was a friend to all. (not a brass player) </p>
    </th>
  </tr>
  <tr>
  <tr>
    <th> Alex <br>
      <p class="has-small-font-size">Alex (he/him/his) is a Mathematics, Computer Science, and Hispanic Studies major from Philadelphia, Pennsylvania. He served as co-chair and exco coding expert. Outside of ExCo he loved playing steel pan or trombone. (brass player)</p>
    </th>
  </tr>
  <tr>
  <tr>
    <th> Lars <br>
      <p class="has-small-font-size">Lars (he/him/his) is a Math major from Aurora, CO who graduated in Spring 2020. Lars served as the chair of the ExCo Committee and revamped the website, as well as automated ExCo forms to streamline the application and registration processes. His passion for ExCo resulted in many advances in how it is run. Outside of ExCo, he enjoys learning the trumpet, taking care of ducks, and trying to explain technical computer things to his friends.(aspiring brass player)</p>
    </th>
  </tr>
  <tr>
    <th>Zane<br>
      <p class="has-small-font-size">Zane (he/him/his) is a Politics major from Bellingham, WA. He enjoys running and biking and being outside. He also likes cooking and eating food. Zane served on the Committee for six semesters, acting as treasurer and spending a lot of time working on institutional memory. Zane’s order from The Local would be a double toasted sesame bagel with cream cheese on one side, pesto on the other, and a tomato in the middle (so that the cream cheese and pesto don’t mix).</p>
    </th>
  </tr>
  <tr>
    <th>Alex<br>
      <p class="has-small-font-size">Alex (they/them/theirs) is a Biology major from Denver, CO. Alex served as chair of the ExCo Committee during their time at Oberlin. Their contributions to ExCo involved data collection and analysis, as well as policy and performance review. Alex always seeks feedback about how ExCo can best serve the Oberlin community. Alex enjoys spending time with friends, playing mahjong, and working in a biochemistry research lab.</p>
    </th>
  </tr>
  <tr>
    <th>Melissa<br>
      <p class="has-small-font-size">Melissa (she/her/hers) is a Comparative Literature, East Asian Studies, and French triple major. She studies French, Korean, and Japanese. Melissa spent a semester abroad in Seoul during her time at Oberlin. On the ExCo Committee she serves as our hard-working, ever-brilliant Presto liaison and policy reviewer. In her free time, Melissa likes baking cupcakes, playing Dragon Age, and running sound boards.</p>
    </th>
  </tr>
  <tr>
    <th>Liz<br>
      <p class="has-small-font-size">Liz (she/her/hers) is a Comparative Literature and Hispanic Studies double major from Ithaca, NY. Liz loves hiking, working on bikes, doing pottery, drinking tea, and making puppets.</p>
    </th>
  </tr>
  <tr>
    <th>Juan<br>
      <p class="has-small-font-size">Juan (he/him/his) is a Biology and French double major from Chicago, IL. He dedicated four semesters to ExCo and helped with Presto, public image, and communications. Juan loves Selena (Quintanilla) and singing alone in his room. Make a Naruto joke or buy him an iced coffee if you want to be his friend.</p>
    </th>
  </tr>
  <tr>
    <th>Anna<br>
      <p class="has-small-font-size">Anna (she/her/hers) was a religion major and graduated in Spring of 2015. She likes knitting and crocheting, dancing, and cats. She worked as our Presto person/liaison to the registrar and social media coordinator. Anna is currently at grad school for library science and misses the committee dearly.</p>
    </th>
  </tr>
  <tr>
    <th>Sara<br>
      <p class="has-small-font-size">Sara (she/her/hers) graduated Oberlin Fall of 2015. She was a neuro-turned-bio major, with an interest in sailing, glassblowing, throwing things, science and adventures. She had a strong dislike of sitting still, food that looks good but isn’t, and when someone’s looking for a song and keeps only playing the first second of a ton of songs. She requests that you never do that. As far as ExCo went, Sara enjoyed consulting on classes that didn’t fit our curriculum format, classes that were just starting, or basically anything else. Sara was also responsible for much of our policy, and you can track her down if you have any problems with it.</p>
    </th>
  </tr>
  <tr>
    <th>Emily<br>
      <p class="has-small-font-size">Emily (she/her/hers) graduated from Oberlin in Spring 2016, and was a Computer Science major originally hailing from Franklin, Tennessee. Emily joined the committee in Fall of 2013, and worked on improving the efficiency and organization of the ExCo system, specifically focussing on how to make the application process, teaching process, and website smoother. Outside of ExCo, she tutored in the computer science labs, was a tutee in the pottery co-op, took secondary lessons on marimba, and taught herself 3D animation. All remaining free time was sacrificed in equal parts to Netflix marathons, League of Legends, and Pinterest recipes. Emily is currently working toward grad school, and in the meantime continues to be boss at League of Legends.</p>
    </th>
  </tr>
  <tr>
    <th>Tanya<br>
      <p class="has-small-font-size">Tanya (she/hers or they/them) hails from Bangkok Thailand, and graduated from Oberlin in 2017 with a degree in Comparative American Studies, and triple minors in Politics, GSFS, and English. On ExCo Committee, Tanya worked as Presto liaison, community outreach, institutional memory, and aesthetic curator. Outside of ExCo, Tanya spent their time crocheting scrap blankets and friendship scarves, queering heteronormative coloring books, making gourmet bagels, and collecting blazers and hideous sweaters. Tanya aspires to someday own two cats named Gin and Tonic.</p>
    </th>
  </tr>
  <tr>
    <th>EJ<br>
      <p class="has-small-font-size">EJ (he/him/his) graduated from Oberlin in 2017, with a degree in politics. On the ExCo Committee, EJ worked to optimize the instructor interview process, as well as serving as our treasurer. Outside of ExCo, EJ was captain of the Oberlin cross country team, spent a semester studying abroad in Jordan, and thoroughly enjoyed time dedicated to Chiptole, Netflix, and long naps.</p>
    </th>
  </tr>
</table>


