<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="description" content="Oberlin ExCo">
    <meta name="keywords" content="Oberlin, ExCo, Experimental College">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oberlin ExCo</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="assets/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
  </head>

  <body>
    <!-- Page Preloder
    <div id="preloder">
  -->
    {% include header.html %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>Teach Your Passion with ExCo</h1>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <!-- used to be a form -->
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/fair.jpg"></div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>Oberlin ExCo</h2>
                        </div>
                        <p class="f-para">Oberlin ExCo is a 50 year-old, accredited division of Oberlin College that offers courses taken by over a thousand unique students each year.</p>
                        <!-- <p class="s-para">Anyone, town or gown, can teach an ExCo, on whatever they are passionate about! When reviewing course applications, the ExCo Committee is subject-agnostic and solely considers applications based on the instructor’s commitment to the course, familiarity with the subject matter, and depth of thought when making the syllabus.</p>
                        <p class="s-para">Courses can be taken or taught for credit, but we are unfortunately unable to financially compensate non-students for teaching courses through ExCo at this time. Up to eight co-curricular credits can be counted towards general credit requirements, but ExCo courses cannot officially count towards divisional requirements. ExCo courses can be offered for either one or two credits.</p>
                        <p class="s-para">Typically, courses meet once or twice a week in a regular location. To learn about what courses are being taught, check out our course catalog or attend the ExCo Fair the first Wednesday of each semester.</p>
                        <p class="s-para">If you’d like to learn more about ExCo or talk about an idea for your course, feel free to visit one of our committee members during office hours, listed below.</p>
                      --><a href="/about/about.html" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="/img/committee.v01.jpg" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="/img/icon.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Announcements Section -->
    <section class="Announcements">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="about-text">
                      <div class="section-title">
                          <span>Announcements</span>
                      </div>
                      {{ content }}
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- Announcements Section End -->

    <!-- Google Calendar Section -->
    <section class="gcal spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="about-text">
                      <div class="section-title">
                          <span>Google Calendar</span>
                      </div>
                      <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=b2Jlcmxpbi5lZHVfYWFtcWoxaWJkamo4MzI5YTl0Z3ZjdWdoZzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23E67C73&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- Announcements Section End -->

    {% include footer.html %}

    <!-- Js Plugins -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
